.dropdown-menu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu-content {
    display: none;
    position: absolute;
    min-width: 250px;
    z-index: 1;
    height: 100vh;
    background-color: #fefce7;
    border-radius: 2%;

  }
  
  .dropdown-menu:hover .dropdown-menu-content {
    display: block;
  }
  
  .dropdown-menu-content a {
    color: black;
    padding: 12px 125px;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    margin-top: 2rem;
   
  }
  
  .dropdown-menu-content a:hover {
    background-color: #000000;
    color: white;
  }