.dropdown-menu {
    position: relative;
    display: inline-block;
  }

  .dropdown-menu-content {
    display: none;
    position: absolute;
    min-width: 250px;
    height: 100vh;
    background-color: #fefce7;
    border-radius: 2%;
    z-index: 1000;

  }
  
  .dropdown-menu-content.open {
    display: block;
  }
  
  .dropdown-menu-content a {
    color: black;
    padding: 12px 125px;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    margin-top: 2rem;
   
  }
  
  .dropdown-menu-content a:hover {
    background-color: #000000;
    color: white;
  }


  @media screen and (max-width: 400px){
    .dropdown-menu-content {
      min-width: 200px;
      height: 70vh;
      opacity: 0.9;
    }
    .dropdown-menu-content a {
      padding: 12px 50px;
      font-size: 1.3rem;
    }
  }